In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_excel("ocorrencia.xlsx", parse_dates=["ocorrencia_dia"])
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
5,52243,52243,INCIDENTE,UBATUBA,SP,BRASIL,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,BRASIL,2012-01-07,18:15:00,0
7,45334,45334,INCIDENTE,BELÉM,PA,BRASIL,2012-01-08,19:12:00,0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,BRASIL,2012-01-08,16:00:00,0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,BRASIL,2012-01-08,22:13:00,0

df.dtypes #Exibe o tipo de dados da nossa tabela
df.ocorrencia_dia.dt.month #Imprime somente o mês na coluna de data indicada
set=(";") #Difine o tipo de separação do arquivo, para que o Jupyter entenda e leia a alteração
pip install pandera #Instala a biblioteca pandera
parse_dates #Converte a coluna indicada para data
dayfirst=True #Altera o formado da data, para Dia, Mês e Ano
pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$') #Expressão regular que valida o modelo de data para 24h
nullable=True #Permite valor em branco ou nulo
pa.Check.str_length(2,2) #Define o número minimo e máximo de caracteres de um campo, no exemplo 2 e 2
required=False #Define que aquela validação não é requerida, ou seja caso tenha ou não, não vai travar o código

In [3]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo":pa.Column(pa.Int, required=False),
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String),
        "ocorrencia_pais":pa.Column(pa.String),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, nullable=True),
        "total_recomendacoes":pa.Column(pa.Int),
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0

In [5]:
pip install pandera

Requirement already satisfied: pandera in c:\programdata\anaconda3\lib\site-packages (0.9.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.20.3)
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.12.1)
Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (from pandera) (7.0.0)
Requirement already satisfied: typing-inspect>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (0.7.1)
Requirement already satisfied: pandas>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.3.4)
Requirement already satisfied: pydantic in c:\programdata\anaconda3\lib\site-packages (from pandera) (1.9.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from pandera) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.0->pandera) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0->pandera) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.16.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\programdata\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera) (3.10.0.2)